@font-face {
    font-family: 'MabryPro';
    src: url("assets/MabryPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinstrelPoster';
    src: url('assets/MinstrelPosterWHG.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    font-family: 'MabryPro', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-primary);
}

.site-content{
    border: 4px solid var(--bg-secundary);
    box-sizing: border-box;
    margin: 20px auto;
    max-width: 1300px;
    padding: 20px;
}

header {
    align-items: center;
    border-bottom: 2px solid var(--bg-secundary);
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}

.mobile-menu {
    cursor: pointer;
    display: none;
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: var(--secundary-font-color);
    font-family: 'MinstrelPoster';
    text-decoration: none;
    z-index: 1;
}

nav a:hover {
    color: var(--main-font-color);
    text-decoration: underline 3px var(--font-details);
}

a{
    color: var(--secundary-font-color);
    text-decoration: none;
}

a:active{
    color: var(--font-details);
}

#icon{
    color: var(--main-font-color);
    font-family: 'MinstrelPoster';
    font-size: xx-large;
    text-decoration: none;
}

.home-content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 30px 20px;
}

#home-introduction-text{ 
    color: var(--secundary-font-color);
    display: inline-flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    width: 330px;
}

#home-introduction-text h4{
    color: var(--main-font-color);
}

#detalheHome{
    align-self: center;
    justify-content: center;
    position: relative;
    right: 45%;
    width: 110px;
}

#home-main-title{
    align-self: center;
    background: url("assets/contorno.png") no-repeat;
    background-size: 100% 100%;
    color: var(--main-font-color);
    display: flex;
    justify-content: center;
    padding: 70px;
    width: 100%;
    z-index: 1;
}

h1{
    font-family: 'MinstrelPoster';
    font-weight: normal;
    font-size: 34px;
}

#home-photo{
    border-radius: 50%;
    max-width: 80%;
    min-width: 200px;
    position: relative;
}

.contact{ 
    align-self: flex-end;
    color: var(--main-font-color);
    flex-direction: column;
}

.contact-links{
    display: flex;
}

#github, #linkedin{
    width: 40%;
}

.line{
    border-bottom: 2px var(--bg-secundary) solid;
    padding: 40px;
}

.page-titles{
    color: var(--main-font-color);
    display: flex;
    font-family: 'MinstrelPoster';
    font-size: 40px;
    font-weight: normal;
    justify-content: center;
    margin: 20px;
}

section, footer{
    color: var(--secundary-font-color);
    font-size: 18px;
    
  }

.sections-lists li{
    color: var(--main-font-color);
    list-style: none;
}

footer{
    text-align: center;
}

@media screen and (max-width: 826px) {

    nav ul {
        background-color: var(--bg-primary);
        display: none;
        flex-direction: column;
        left: 0;
        position: absolute;
        text-align: center;
        top: 90px;
        width: 100%;
        z-index: 10;
    }

    nav ul.show {
        display: flex;
    }

    .mobile-menu {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        font-size: 1rem;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
    }

    #hamburguer {
        color: var(--main-font-color);
        border-top: 2px solid var(--bg-secundary);
        width: 20px;
        z-index: 100;
    }
    
    #hamburguer::after, #hamburguer::before {
        background: currentColor;
        content: '';
        display: block;
        height: 2px;
        margin-top: 3px;
        position: relative;
        transition: 0.3s;
        width: 20px;
      }

      .home-content{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .home-introduction{
        display: flex;
        justify-content: center;
        order:1;
      }

      .images{
        display: flex;
        justify-content: center;
        order: 2;
        padding: 40px;
      }

      .contact{
        align-items: center;
        align-self: center;
        order: 3;
      }

      #home-introduction-text{
        text-align: center;
      }

      #home-main-title{
        padding: 50px;
      }

      h1{
        font-size: 30px;
      }

      section{
        text-align: center;
      }
      
}


@media screen and (max-width: 540px){

    #home-introduction-text{
      text-align: center;
    }

    #home-main-title{
      align-items: center;
      align-self: normal;
      background-size: 85% 85%;
      right: 3%;
      padding: 49px;
      position: relative;
  }

    h1{
      font-size: 24px;
      left: 42%;
      position: absolute;
      text-align: center;
      top: 40%;
      transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 340px){
    #home-introduction-text{
        text-align: center;
    }

    #home-main-title{
        align-items: center;
        align-self: normal;
        padding: 30px;
        position: relative;
        right: 0;
  }

    h1{
        font-size: 16px;
        left: 42%;
        position: absolute;
        text-align: center;
        top: 40%;
        transform: translate(-50%, -50%);
    }
}